<!doctype html>
<html lang="en">
<style>
    {% include "./Shared/Styles/reset.css" %}
    {% include "./Shared/Styles/fonts.css" %}
    {% include "./Models/NewsOutputComponents/NewsOutput.css" %}
    {% include "./Models/NewsOutputComponents/Body/Body.css" %}
    {% include "./Models/NewsOutputComponents/Body/NewsArticle/NewsArticle.css" %}
</style>

{% include "./Shared/head.twig" %}

<body>
<div style="display: flex;flex-direction: row;min-width: 912px; justify-content: left">
    <a class="return" href="/" style="display: flex;flex-direction: row;text-decoration: none; margin-top: 20px;">
        <img src="/app/Views/Shared/back_arrow.png" style="max-height: 30px;">
        <h3 style="margin: 1px 0 0 5px; color: white">Main page</h3>
    </a>
</div>

<section>
    <div class="main">

        <div class="page-top">
            <div class="title">
                <h1 style="margin: 10px;">User news</h1>
            </div>
        </div>

        {% for news in responses %}
            <div class="article">
                <a href="{{ news.url }}" target=”_blank” style="text-decoration: none;">
                    <div class="article-content">
                        <h2>{{ news.title }}</h2>
                        <p>"{{ news.description }}"</p>
                        <img src="{{ news.getImgLink }}" alt="Picture not found">
                        <div class="post-author-date">
                            <p class="align-right">{{ news.getCreatedAt }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</section>

</body>

</html>